# Please fill out `base_url`, `conduit_certificate`, `phabricator_path`, phabricator_username` and `phabricator_password`

default:
  extensions:
    Behat\MinkExtension:
      base_url: ''

  suites:
    default:
      contexts:
        - FeatureContext:
            params:
              phabricator_path: ''
              phabricator_username: ''
              phabricator_password: ''
              conduit_api_token: ''
