@import "../bower_components/bootstrap/less/bootstrap";

.sprint-overview-title {
  margin-top: 0;
  font-size: 20px;

  .dropdown-toggle {
    background: #fff;
    border: 1px solid #aaa;
  }

  .phab-link {
    color: #444;
  }
}

@burndown-actual: #00a8c6;
@burndown-ideal: #aee239;
@burndown-daily-points: #8fbe00;

#burndown {
  .graph {
    &.actual {
      stroke: @burndown-actual;
    }

    &.ideal {
      stroke: @burndown-ideal;
      stroke-dasharray: 10 5;
    }

    stroke-width: 3px;
    fill: none;
  }

  .axis {
    path, line {
      fill: none;
      stroke: #777;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }

    &.x {
      text {
        transform: rotate(-65deg);
        font-size: 11px;
      }
      .tick:first-of-type {
        display: none;
      }
    }
  }

  .daily-points {
    stroke-width: 2px;
    stroke: @burndown-daily-points;
  }
  .area {
    fill: fadeout(@burndown-actual, 80);
  }
}
